<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/member/get">
  <button>get전송</button>
</form>

<form action="/member/post" method="post">
  <button>post전송</button>
</form>

<form action="/member/put" method="post">
  <input type="hidden" name="_method" value="put" />
  <button>put전송</button>
</form>

<form action="/member/delete" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>delete전송</button>
</form>
</body>
</html>